:root {
    --header-color: #ffffff;
    --main-title-color: #212121;
    --main-text-color: #757575;
    --accent-color: #2196F3;
    --background-color : #2F303A;
    --header-link : #212121;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

img {
    display: block;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--main-title-color);
}

.conteiner {
    width: 1200px;
    padding-right: 15px;
    padding-left: 15px;
    margin: 0 auto;
}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    width: 145px;
    text-decoration: none;
}
.logo-header {
    color: #000000;
}
.logo-footer {
    color: var(--header-color);
}
.link {
    text-decoration: none;
}

.header {
    display: flex;
    border: 1px solid #ececec;
}
.box {
    display: flex;
    align-items: center;
}
.nav-header {
    display: flex;
    align-items: center;
}
.nav-link {
    display: flex;
    margin-left: 93px;
    padding-top: 32px;
    padding-bottom: 32px;
}
.nav-header .item:not(:last-child) {
    margin-right: 50px;
}
.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-link);
    text-decoration: none;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.header-link:hover,
.header-link:focus,
.header-link:active {
    color: var(--accent-color);
}
.header-link.current {
    color: var(--accent-color);
}

.contact-nav {
    display: flex;
    margin-left: auto;
}
.contact-nav .item+.item {
    margin-left: 50px;
}
.contact-nav-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    text-decoration: none;
    list-style: none;
    padding-top: 32px;
    padding-bottom: 32px;
}
.contact-nav-link:hover,
.contact-nav-link:focus,
.contact-nav-link:active {
    color: var(--accent-color);
}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/*----------Hero-------*/
.hero {
    background-color: var(--background-color);
    text-align: center;
    padding: 200px 425px;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    margin-top: 0px;
    margin-bottom: 30px;
}
.button {
    color: var(--title-text-color);
    background-color: #f5f4fa;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border: transparent;
    border-radius: 4px;
    padding: 6px 22px;
}

.button.blue {
    color: var(--primery-waite-color);
    background-color: var(--accent-color);
    cursor: pointer;
}

.button.blue:hover,
.button.blue:focus,
.button.blue:active {
    background-color: #1a8feb;
    color: var(--header-color);
}

.button:hover,
.button:focus,
.button:active {
    background-color: var(--accent-color);
    color: var(--header-color);
}


/* .button-blue {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color:var(--accent-color);
    cursor: pointer;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    border: transparent;
    padding: 10px 32px;
}
.button-grey {
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #212121;
    cursor: pointer;
}
.button-grey:hover,
.button-grey:focus,
.button-grey:active {
    background-color:var(--accent-color);
}    */
/*----------Features-------*/
.features {
    padding-top: 94px;
    padding-bottom: 0px;
}
.features-list {
    display: flex;
    align-content: flex-start;
}
.features-list .features-item+.features-item {
    margin-left: 30px;
}
.features-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 10px;
}
.features-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
    margin-top: 0px;
    margin-bottom: 0px;
}
/*----------Activity-------*/
.activity {
    padding-top: 94px;
    padding-bottom: 94px;
}
.activity-title,
.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    color: var(--main-title-color);
    text-align: center;
    margin-bottom: 50px;
}

.activity-list {
    display: flex;
    justify-content: space-between;
}
/*----------Team-------*/

.team {
    background-color: #f5f4fa;
    padding-top: 94px;
    padding-bottom: 94px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
}
.team-item {
    width: calc(100%-90px) / 4;
    margin-right: 30px;
    text-align: center;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team-item:nth-child(4) {
    margin-right: 0px;
}
.team-item-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-title-color);
    margin-bottom: 10px;
}
.team-item-text {
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.card {
  padding-top: 30px;
  padding-bottom: 30px;
}
/*----------Footer-------*/
.adress {
    background-color: var(--background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}
.adress-list {
    margin-top: 20px;
}
.adress-list .item:not(:last-child) {
    margin-bottom: 9px;
}
.adress-map {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
}
.adress-map:hover,
.adress-map:focus,
.adress-map:active {
    color: var(--accent-color);
}
.adress-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}
.adress-link:hover,
.adress-link:focus,
.adress-link:active {
    color: var(--accent-color);
}
/*----------Filter-------*/
.filters {
    padding-top: 94px;
    padding-bottom: 94px;
}

.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filters-list .item:not(:last-child) {
    margin-right: 8px;
}

/*----------Filter result-------*/
.example-list {
    display: flex;
    flex-wrap: wrap;
}
.example-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
    background: #ffffff;
    border: 1px solid #eeeeee;
}
.example-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    margin-bottom: 4px;
}
.example-text {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
}
.example-item:nth-child(3n) {
    margin-right: 0px;
}

.example-item:nth-last-child(-n + 3) {
    margin-bottom: 0px;
}
.link {
    text-decoration: none;
}

.example-card {
    padding: 20px 24px;
}